<footer class="site-footer">
  <p>Copyright 2025 Randy Pellegrini. All rights reserved.</p>
  <div class="footer-links">
    <a href="/books.html">Books</a>
    <a href="/series.html">Series</a>
    <a href="/characters.html">Characters</a>
    <a href="/blog.html">Blog</a>
    <a href="/free-story.html">Free Story</a>
    <a href="/#contact">Contact</a>
  </div>
</footer>
