---
permalink: /the-nazarene-protocol/
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="0; url=/love-remembers-in-silence/" />
  <link rel="canonical" href="https://randypellegrini.com/love-remembers-in-silence/" />
  <title>Redirecting...</title>
</head>
<body>
  <p>This page has moved to <a href="/love-remembers-in-silence/">Love Remembers in Silence</a>.</p>
</body>
</html>
